@import url("https://fonts.cdnfonts.com/css/poppins");
@import "tailwindcss";
@plugin "daisyui";

* {
  scroll-behavior: smooth;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #f1f5f9 !important;
}

:root{
  --primary-color: #3D9970;
  --secondary-color: #035A33;
}